In [58]:
import pandas as pd
import numpy as np

In [59]:
data = pd.read_csv('classification.csv')

In [60]:
TP, TN, FN, FP = 0, 0, 0, 0

In [61]:
data

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
..    ...   ...
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [62]:
for i in range(len(data)):
    if (data['true'][i] and data['pred'][i])==1:
        TP += 1
    if (data['true'][i] or data['pred'][i])==0:
        TN += 1
    if (data['true'][i]==1 and data['pred'][i]==0):
        FN += 1
    if (data['true'][i]==0 and data['pred'][i]==1):
        FP += 1

In [63]:
TP, FP, FN , TN

(43, 34, 59, 64)

In [64]:
TP + FP + FN + TN

200

In [79]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

In [80]:
y_true = data['true']
y_pred = data['pred']

In [81]:
round(accuracy_score(y_true, y_pred), 2)

0.54

In [82]:
round(precision_score(y_true, y_pred), 2)

0.56

In [83]:
round(recall_score(y_true, y_pred), 2)

0.42

In [84]:
round(f1_score(y_true, y_pred), 2)

0.48

In [89]:
scores = pd.read_csv('scores.csv')
scores

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [90]:
y_true = scores['true']
y_score_logreg = scores['score_logreg']
y_score_svm = scores['score_svm']
y_score_knn = scores['score_knn']
y_score_tree = scores['score_tree']

In [93]:
round(roc_auc_score(y_true, y_score_logreg), 2)

0.72

In [94]:
round(roc_auc_score(y_true, y_score_svm), 2)

0.71

In [95]:
round(roc_auc_score(y_true, y_score_knn), 2)

0.64

In [96]:
round(roc_auc_score(y_true, y_score_tree), 2)

0.69

In [97]:
from sklearn.metrics import precision_recall_curve

In [101]:
precision, recall, thresholds = precision_recall_curve(y_true, y_score_logreg)

In [102]:
max = -100000;
for i in range(len(recall)):
    if recall[i] > 0.7:
        if precision[i] >= max:
            max = precision[i]
max

0.6302521008403361

In [103]:
precision1, recall1, thresholds1 = precision_recall_curve(y_true, y_score_svm)

In [106]:
max = -100000;
for i in range(len(recall1)):
    if recall1[i] > 0.7:
        if precision1[i] >= max:
            max = precision1[i]
max

0.6228070175438597

In [107]:
precision2, recall2, thresholds2 = precision_recall_curve(y_true, y_score_knn)

In [108]:
max = -100000;
for i in range(len(recall2)):
    if recall2[i] > 0.7:
        if precision2[i] >= max:
            max = precision2[i]
max

0.6065573770491803

In [110]:
precision3, recall3, thresholds3 = precision_recall_curve(y_true, y_score_tree)

In [111]:
max = -100000;
for i in range(len(recall3)):
    if recall3[i] > 0.7:
        if precision3[i] >= max:
            max = precision3[i]
max

0.6517857142857143